@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Identity
@model MyKitchen.ViewModels.RecipeViewModel

@{
    ViewData["Title"] = "Create";
    var Iterator = 0;
}

<h2>New Recipe</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Recipe.RecipeName" class="control-label"></label>
                <input asp-for="Recipe.RecipeName" class="form-control" />
                <span asp-validation-for="Recipe.RecipeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="Recipe.UserId" class="form-control" type="hidden" />
                <span asp-validation-for="Recipe.UserId" class="text-danger"></span>
            </div>
            <!--this iterates through the ingredients from the Ingredients IEnumerable element in the model and displays them in a multi-select drop down-->
            <div class="form-group">
                <label asp-for="IngredientsForRecipe" class="control-label"></label>
                <label asp-for="AmountsForIngredients" class="control-label"></label>

                <select asp-for="IngredientsForRecipe[Iterator]" class="form-control" asp-items="@(new SelectList(Model.Ingredients,"IngredientId","IngredientName"))"></select>
                <input asp-for="AmountsForIngredients[Iterator]" class="form-control" />

                <span asp-validation-for="IngredientsForRecipe" class="text-danger"></span>
                <span asp-validation-for="AmountsForIngredients" class="text-danger"></span>
                
                <br/>
            </div>
            <div class="form-group">
                <div id="ExtraIngredients"></div>
                <button type="button" onclick="AddIngredient(@Iterator)" id="IngredientButton" class="btn btn-default">Add Ingredient</button>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    function AddIngredient(iterator) {
        iterator += 1;
        var div = document.createElement('div');
        div.innerHTML = '<div class="form-group">\
            <label class="control-label" for="@Model.IngredientsForRecipe">Ingredient</label>\
            <label class="control-label" for="@Model.AmountsForIngredients">Amount</label>\
            \
            <select class="form-control" data-val="true" data-val-required="The Int32 field is required." id="IngredientsForRecipe_' + iterator + '_" name="IngredientsForRecipe[' + iterator + ']">\
            <option value="1">Green Onion</option>\
            <option value="2">Cheddar Cheese</option>\
            </select>\
            <input class="form-control" type="text" id="AmountsForIngredients_' + iterator + '_" name="AmountsForIngredients[' + iterator + ']" value="">\
            \
            <span class="text-danger field-validation-valid" data-valmsg-for="IngredientsForRecipe" data-valmsg-replace="true"></span>\
            <span class="text-danger field-validation-valid" data-valmsg-for="AmountsForIngredients" data-valmsg-replace="true"></span>\
            \
            <br>\
            </div>';
        document.getElementById('ExtraIngredients').appendChild(div);
    }
</script>